html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#sidebar {
  display:block;
  width: 350px;
  height: 100%;
  max-width: 100%;
  float: left;
}
#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading{
    width: 100%;
 }
 .panel-body{
   width: 100%;
 }
#searchBox{display:none;}
.hydrograph{
    width:99%;
    padding:1%;
}
#sidebar-hide-btn {
  margin-top: -2px;
}
#modal-footer {
  clear:both;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.feature-row {
  cursor: pointer;
    width:350px;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-table {
  position: absolute;
  width: 100%;
  top: 38px;
  bottom: 0px;
  overflow: auto;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}
#plan-points {
    border-collapse: separate;
    border-spacing: 10px 5px;
}
#plan-points td {
    height:30px;
    border-radius:5px;
    padding:0 5px;
}
#planStartText {background-color:#d9f2e6;}
#planEndText {background-color:#ffd6cc;}
#planStartStream, #planEndStream{background-color:#e6f7ff;}
#initial {
    padding:1em;
    text-align: center;
}
#panel-image {
    width:98%;
}
#logo {width:50%;}
.left-btn{
    float:left;
}
.right-btn{
    float:right;
}
.filter-btn {
    margin:0.5em 0;
}
.btn-container{
    height:50px;
    width:100%;
}
#plan-points{
    width:100%;
    margin-bottom: 2em;
}
#view-all {
    position:absolute;
    top:30px;
    right:10px;
    color:#FFF;
    background:none;
    z-index: 1049;
}
#stream-name-fill{
    width:100%;
    height:1em;
}
.navbar {
    background-color:darkcyan;
    background-image:url(../images/rivban.jpg);
    background-blend-mode:soft-light;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar-inverse .navbar-nav>li>a{color:#FFFFFF;font-size:16px;}
.navbar-inverse .navbar-nav>li>a:hover{text-shadow:1px 1px #444;}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
